<h1>Create User</h1>
<%= form_for(@user) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<% Team.all.each do |team| %>
	<%=
		check_box_tag(
			"user[team_ids][]",
			team.id,
			@user.team_ids.include?(team.id),
			:id => "user_team_id_#{team.id}"
		)
	%>
	<%= label_tag "user_team_id_#{team.id}", team.name %>
	<br>
<% end %>
<br>
<%= f.submit %>
<% end %>